* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    background: #E5E5E5;}

.header {
    width: auto;
    background-color: #F94E4E;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 900;
    color: white;
}

#user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: .5rem;
    position: relative;
    width: 20rem;
    align-items: center;

}

input {
    height: 3rem;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid rgb(192, 192, 192);
    width: 15rem;
    font-size: 1.3rem;
    font-weight: 900;
    border-radius: .4rem;
    padding: .5rem;
    
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 1rem;
}

img {
    width: 5rem;
}

#card {
    display:none;
    position: relative;
    width: 253px;
    height: 400px;
    background: linear-gradient(322.09deg, rgba(249, 57, 57, 0.2) 13.99%, rgba(255, 98, 98, 0.2) 104.25%), linear-gradient(273.21deg, #F94545 -7%, rgba(255, 80, 80, 0.65) 102.49%), url(./weather-bg.jpg);
    box-shadow: 0px 8px 16px rgba(24, 19, 6, 0.25);
    border-radius: 16px;
}


#locations {
    font-size: 1rem;
    font-weight: 900;
}

#degree {
    font-size: 2rem;
    font-weight: 600;
}

#degree,
#locations {
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-transform: uppercase;

}

#text-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#descrip {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;

}

#user,
#card {
    margin: auto;
    margin-top: 2rem;
}

.loc-text {
    font-size: .8rem;
    color: rgb(174, 174, 174);
    padding-bottom: 1remgit;

}

.card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 253px;
    height: 165px;
    left: 0px;
    top: 239px;
    background: #FFFFFF;
    border-radius: 0px 0px 16px 16px;
}

#date {
    font-size: 20px;
    line-height: 20px;
    color: #191919;
    opacity: 0.7;
}

#descrip {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

#degree2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
 
}

#descrip,
#date,
#degree2 {
    font-style: normal;
    font-weight: 700;
    padding-top: 1rem;
    padding-left: 1rem;
}

#degree2,#descrip{
    line-height: 16px;
    color: #272727;
    opacity: .5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color:  #F94E4E;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
}

.modal-content {
    position: relative;
    background-color: #cdcdcde5;
    border-radius: 2rem;
    left: 0;
    top: 8rem;
    margin: auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 260px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


